<ul class="nav nav-tabs">

  <li class="nav-item">
    <a class="nav-link {{#if active.source }}active{{/if}}" href="?format=source">Source</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if active.html }}active{{/if}}" href="?format=html">Html</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if active.ast }}active{{/if}}" href="?format=ast">Ast</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{#if active.edit }}active{{/if}}" href="?format=edit">Edit</a>
  </li>

</ul>
