<style>
  cmacc {
    border: 1px dashed purple;
    cursor: pointer;
  }

  cmacc:hover {
    background-color: lightpink;
  }

</style>

<nav style="margin-bottom: 20px">
  {{> info }}
</nav>

<nav style="margin-bottom: 20px">
  {{> navigation }}
</nav>

{{#if source}}
  <pre>{{{content}}}</pre>
{{else}}
  {{{content}}}
{{/if}}