
<div id="formio"></div>

<script>
  var data = {{{content}}}
  Formio.createForm(document.getElementById('formio'), data)
  .then((form) => {
    form.on('submit', (submission) => {

      console.log(submission)

    });
  });
</script>