<nav style="margin-bottom: 20px">
  {{> info }}
</nav>

<nav style="margin-bottom: 20px">
  {{> navigation }}
</nav>

<form action="/form" method="post">

  <input type="hidden" name="contex" value="{{{contex}}}">
  <input type="hidden" name="path" value="{{path}}">

  <div>
    {{{content}}}
  </div>

  <hr/>

  <div class="form-group">
    <label for="exampleInputEmail1">Message</label>
    <input name="message" type="text" class="form-control" placeholder="Enter commit message" required="required">
  </div>

  <button type="submit" class="btn btn-primary">Commit</button>

</form>

<script>
  $(document).ready(function () {
    var map = {}
    $('[data-variable]').each(function (index, el) {
      var attr = el.getAttribute('data-variable');
      map[attr] = map[attr] || [];
      map[attr].push(el)
      $(el).keyup(function(ev){
        map[attr].forEach(function (x) {
          $(x).val(ev.target.value)
        })
      })

    })
  });
</script>

