<h1>Gists</h1>

<table class="table">

  <thead>
  <tr>
    <th width="300px">Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>

  {{#each gists}}
    <tr>
      <td>{{this.description}}</td>

      <td></td>
    </tr>
  {{/each}}
  </tbody>

</table>