<h1>Repos</h1>
<p>Repos on github</p>

<div class="card" style="margin-bottom: 20px">
  <div class="card-header">
    stibbe-poc
  </div>
  <div class="card-block">
    <ul>
      <li><a href="/cmacclang/stibbe-poc/master/Index.cmacc">Index.cmacc</a></li>
      <li><a href="/cmacclang/stibbe-poc/master/TomTom_NV.cmacc">TomTom_NV.cmacc</a></li>
      <li><a href="/cmacclang/stibbe-poc/master/ASM_Internationale_NV.cmacc">ASM_Internationale_NV.cmacc</a></li>
    </ul>
  </div>
</div>

<div class="card" style="margin-bottom: 20px">
  <div class="card-header">
    cmacc-example-helloworld
  </div>
  <div class="card-block">
    <ul>
      <li><a href="/cmacclang/cmacc-example-helloworld/master/Example.cmacc">Example.cmacc</a></li>
      <li><a href="/cmacclang/cmacc-example-helloworld/master/Import.cmacc">Import.cmacc</a></li>
    </ul>
  </div>
</div>

<div class="card" style="margin-bottom: 20px">
  <div class="card-header">
    cmacc-example-form
  </div>
  <div class="card-block">
    <ul>
      <li><a href="/cmacclang/cmacc-example-form/master/SimpleForm.cmacc">SimpleForm.cmacc</a></li>
    </ul>
  </div>
</div>

<div class="card" style="margin-bottom: 20px">
  <div class="card-header">
    cmacc-example-nda
  </div>
  <div class="card-block">
    <ul>
      <li><a href="/cmacclang/cmacc-example-nda/master/MutualNonDisclosureAgreement.cmacc">MutualNonDisclosureAgreement.cmacc</a></li>
    </ul>
  </div>
</div>


<div class="card" style="margin-bottom: 20px">
  <div class="card-header">
    cmacc-example-basic
  </div>
  <div class="card-block">
    <ul>
      <li><a href="/cmacclang/cmacc-example-basic/master/Form/draft1.cmacc">Form/draft1.cmacc</a></li>
      <li><a href="/cmacclang/cmacc-example-basic/master/Form/draft2.cmacc">Form/draft2.cmacc</a></li>
      <li><a href="/cmacclang/cmacc-example-basic/master/Form/draft3.cmacc">Form/draft3.cmacc</a></li>
      <li><a href="/cmacclang/cmacc-example-basic/master/Form/draft4.cmacc">Form/draft4.cmacc</a></li>
      <li><a href="/cmacclang/cmacc-example-basic/master/Form/draft5.cmacc">Form/draft5.cmacc</a></li>
    </ul>
  </div>
</div>


<div class="card" style="margin-bottom: 20px">
  <div class="card-header">
    cmacc-example-mortgage
  </div>
  <div class="card-block">
    <ul>
      <li><a href="/cmacclang/cmacc-example-mortgage/master/doc/index.cmacc?prop=agreement">Agreement</a></li>
      <li><a href="/cmacclang/cmacc-example-mortgage/master/doc/index.cmacc?prop=overview">Overview</a></li>
    </ul>
  </div>
</div>