<div class="container" >

  <div style="height: 100px"></div>
  <div class="row">

    <div class="col-md-6 offset-md-4 col-lg-6 offset-lg-3">

      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-block">
          <div align="center">
            <img width="200px" src="https://www.aha.io/assets/github.7433692cabbfa132f34adb034e7909fa.png" alt="Github"/>
            <p>Login with your github account.</p>
          </div>



          <a class="btn btn-block btn-primary" href="/auth/login">Login</a>
          <a class="btn btn-block btn-secondary" target="_blank" href="https://github.com/join">Create account</a>

        </div>
      </div>
    </div>


  </div>
</div>

