
<div class="container">

  <h1>Login</h1>

  <div class="row">

    <div class="col-md">
      <a class="btn btn-block btn-primary" href="/login">Login</a>
      <a class="btn btn-block btn-primary" href="/login">Full access</a>
    </div>

    <div class="col-md">
      <img width="100px" src="https://www.aha.io/assets/github.7433692cabbfa132f34adb034e7909fa.png" alt="Github"/>
    </div>

  </div>
</div>

