<script>

  var data = [
    {
      naam: 'willem',
      leeftijd: 29
    },
    {
      naam: 'Bart',
      leeftijd: 31
    }
  ];

  data.forEach(function (x) {
    console.log(x.naam + ' is ' + x.leeftijd + ' jaar oud')
  })


</script>

<h1>Hallo Bart</h1>